.container {
  margin: 50px;
  display: flex;
}

.base-button {
  all: reset;
  cursor: pointer;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 8px;
}
.action-button {
  composes: base-button;
  width: 100px;
  height: 30px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
}
.page-button {
  composes: base-button;
}
.selected {
  font-weight: bold;
  background-color: #eee;
}
